FINAL_ASSIGNEMENT/customization.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title type="short">oddbyexample</title>
            <title>ODD by Example customization</title>
         </titleStmt>
         
         <publicationStmt>
            <publisher>TEI Consortium</publisher>
            <availability status="free">
               <licence target="http://creativecommons.org/licenses/by-sa/3.0/"> Distributed under a Creative Commons
                  Attribution-ShareAlike 3.0 Unported License </licence>
               <licence target="http://www.opensource.org/licenses/BSD-2-Clause">
                  <p>Copyright 2013 TEI Consortium.</p>
                  <p>All rights reserved.</p>
                  <p>Redistribution and use in source and binary forms, with or without modification, are permitted provided that
                     the following conditions are met:</p>
                  <list>
                     <item>Redistributions of source code must retain the above copyright notice, this list of conditions and the
                        following disclaimer.</item>
                     <item>Redistributions in binary form must reproduce the above copyright notice, this list of conditions and
                        the following disclaimer in the documentation and/or other materials provided with the
                        distribution.</item>
                  </list>
                  <p>This software is provided by the copyright holders and contributors "as is" and any express or implied
                     warranties, including, but not limited to, the implied warranties of merchantability and fitness for a
                     particular purpose are disclaimed. In no event shall the copyright holder or contributors be liable for any
                     direct, indirect, incidental, special, exemplary, or consequential damages (including, but not limited to,
                     procurement of substitute goods or services; loss of use, data, or profits; or business interruption) however
                     caused and on any theory of liability, whether in contract, strict liability, or tort (including negligence
                     or otherwise) arising in any way out of the use of this software, even if advised of the possibility of such
                     damage.</p>
               </licence>
               <p>TEI material can be licensed differently depending on the use you intend to make of it. Hence it is made
                  available under both the CC+BY and BSD-2 licences. The CC+BY licence is generally appropriate for usages which
                  treat TEI content as data or documentation. The BSD-2 licence is generally appropriate for usage of TEI content
                  in a software environment. For further information or clarification, please contact the <ref target="mailto:info@tei-c.org">TEI Consortium</ref>. </p>
            </availability>
         </publicationStmt>
         <sourceDesc>
            <p>Derived from <ref target="https://www.tei-c.org/Vault/P5/current/xml/tei/odd/p5subset.xml">base odd</ref> after 
               an analysis of 1 files in /home/port-pret-etu01/M2TNAH/XML_TEI/FINAL_ASSIGNEMENT</p>
            <p>Document enriched by Juliette Benguigui with the addition of three constraints to better tailor the schema to 
               the specific needs of the project. These constraints include: ensuring the presence of an `xml:id` attribute
               for the entry element (line ...) ; checking wether the orth element is a child of the form element to ensure a logical order (line ...); 
               and authorizing only the values 'translation' and 'example' for the type attribute of the cit element (line ...). 
               These enhancements make the schema more precise and adaptable to future extensions.</p>
            <p>The aim is to provide a framework for encoding multilingual dictionnaries and being able to retrieve linguistic information rapidly and efficiently.</p>
         </sourceDesc>
      </fileDesc>
   </teiHeader>
   <text>
      <body>
         <schemaSpec ident="oddbyexample" start="TEI ">
            <moduleRef key="tei"/>
            <!--Checking module textcrit-->
            <classRef key="att.textCritical"/>
            <classRef key="model.rdgLike"/>
            <classRef key="model.rdgPart"/>
            <classSpec ident="att.textCritical" type="atts" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="cause" mode="delete"/>
                  <attDef ident="varSeq" mode="delete"/>
                  <attDef ident="require" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module msdescription-->
            <classRef key="model.physDescPart"/>
            <!--Checking module namesdates-->
            <classRef key="model.persNamePart"/>
            <moduleRef key="namesdates" include="persName"/>
            <elementSpec ident="persName" mode="change">
               <attList>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <!--Checking module dictionaries-->
            <classRef key="att.lexicographic"/>
            <classRef key="model.entryLike"/>
            <classRef key="model.formPart"/>
            <classRef key="model.gramPart"/>
            <classRef key="model.lexicalRefinement"/>
            <classRef key="model.morphLike"/>
            <classRef key="model.ptrLike.form"/>
            <moduleRef key="dictionaries" include="entry sense form orth pron gramGrp pos"/>
            <elementSpec ident="entry" mode="change">
            <!-- ADDED CONSTRAINT ON ENTRY ELEMENT -->
               <constraintSpec ident="entry" scheme="isoschematron">
                  <constraint xmlns:sch="schematron">
                     <sch:pattern name="Entry element id constraint">
                        <sch:rule context="tei:entry">
                           <sch:assert test="@xml:id">The xml:id attribute is required for entry</sch:assert>
                        </sch:rule>
                     </sch:pattern>
                  </constraint>
                  
               </constraintSpec>
            </elementSpec>
            <elementSpec ident="sense" mode="change">
               <attList>
                  <attDef ident="level" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="form" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="orth" mode="change">
               <!-- ADDED CONSTRAINT ON ORTH ELEMENT -->
               <constraintSpec ident="orth" scheme="isoschematron">
                  <constraint xmlns:sch="schematron">
                     <sch:rule context="orth" >
                        <sch:assert test="parent::form" role="error">
                           Each orth element needs to be placed inside a form element
                        </sch:assert>
                     </sch:rule>                     
                  </constraint>
               </constraintSpec>
               <attList>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="pron" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="gramGrp" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <classSpec ident="att.lexicographic" type="atts" mode="change">
               <attList>
                  <attDef ident="expand" mode="delete"/>
                  <attDef ident="split" mode="delete"/>
                  <attDef ident="value" mode="delete"/>
                  <attDef ident="location" mode="delete"/>
                  <attDef ident="mergedIn" mode="delete"/>
                  <attDef ident="opt" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module tagdocs-->
            <classRef key="att.combinable"/>
            <classRef key="att.identified"/>
            <classRef key="model.contentPart"/>
            <classSpec ident="att.combinable" type="atts" mode="change">
               <attList>
                  <attDef ident="mode" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.identified" type="atts" mode="change">
               <attList>
                  <attDef ident="ident" mode="delete"/>
                  <attDef ident="predeclare" mode="delete"/>
                  <attDef ident="module" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.ascribed.directed" type="atts" mode="change">
               <attList>
                  <attDef ident="toWhom" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.dimensions" type="atts" mode="change">
               <attList>
                  <attDef ident="unit" mode="delete"/>
                  <attDef ident="quantity" mode="delete"/>
                  <attDef ident="extent" mode="delete"/>
                  <attDef ident="precision" mode="delete"/>
                  <attDef ident="scope" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.damaged" type="atts" mode="change">
               <attList>
                  <attDef ident="agent" mode="delete"/>
                  <attDef ident="degree" mode="delete"/>
                  <attDef ident="group" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.datable.w3c" type="atts" mode="change">
               <attList>
                  <attDef ident="notBefore" mode="delete"/>
                  <attDef ident="notAfter" mode="delete"/>
                  <attDef ident="from" mode="delete"/>
                  <attDef ident="to" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.datable" type="atts" mode="change">
               <attList>
                  <attDef ident="period" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.divLike" type="atts" mode="change">
               <attList>
                  <attDef ident="org" mode="delete"/>
                  <attDef ident="sample" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.media" type="atts" mode="change">
               <attList>
                  <attDef ident="width" mode="delete"/>
                  <attDef ident="height" mode="delete"/>
                  <attDef ident="scale" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.naming" type="atts" mode="change">
               <attList>
                  <attDef ident="role" mode="delete"/>
                  <attDef ident="nymRef" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.typed" type="atts" mode="change">
               <attList>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.pointing" type="atts" mode="change">
               <attList>
                  <attDef ident="targetLang" mode="delete"/>
                  <attDef ident="evaluate" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.pointing.group" type="atts" mode="change">
               <attList>
                  <attDef ident="domains" mode="delete"/>
                  <attDef ident="targFunc" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.segLike" type="atts" mode="change">
               <attList>
                  <attDef ident="function" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.timed" type="atts" mode="change">
               <attList>
                  <attDef ident="start" mode="delete"/>
                  <attDef ident="end" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.transcriptional" type="atts" mode="change">
               <attList>
                  <attDef ident="status" mode="delete"/>
                  <attDef ident="cause" mode="delete"/>
                  <attDef ident="seq" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.personal" type="atts" mode="change">
               <attList>
                  <attDef ident="full" mode="delete"/>
                  <attDef ident="sort" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module core-->
            <moduleRef key="core"
                       include="p quote cit name date ref head note pb author respStmt resp title publisher bibl"/>
            <elementSpec ident="quote" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="cit" mode="change">
               <attList>
                  <attDef ident="type" mode="change">
                     <!-- ADDED CONSTRAINT ON  CIT ELEMENT-->
                     <valList mode="add" type="closed">
                        <valItem ident="example"/>
                        <valItem ident="translation"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="name" mode="change">
               <attList>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="date" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="ref" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="head" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="note" mode="change">
               <attList>
                  <attDef ident="target" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="pb" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="author" mode="change">
               <attList>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="resp" mode="change">
               <attList>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="title" mode="change">
               <attList>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="level" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="extended"/>
                     </valList>
                  </attDef>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="extended"/>
                     </valList>
                  </attDef>
                  <attDef ident="when" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="bibl" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <!--Checking module figures-->
            <!--Checking module header-->
            <moduleRef key="header"
                       include="teiHeader fileDesc titleStmt editionStmt edition extent publicationStmt idno availability licence sourceDesc encodingDesc projectDesc samplingDecl profileDesc langUsage language"/>
            <elementSpec ident="idno" mode="change">
               <attList>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="ark"/>
                     </valList>
                  </attDef>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="ark"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="availability" mode="change">
               <attList>
                  <attDef ident="status" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="licence" mode="change">
               <attList>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="target" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="language" mode="change">
               <attList>
                  <attDef ident="usage" mode="delete"/>
               </attList>
            </elementSpec>
            <!--Checking module gaiji-->
            <classRef key="att.gaijiProp"/>
            <classSpec ident="att.gaijiProp" type="atts" mode="change">
               <attList>
                  <attDef ident="name" mode="delete"/>
                  <attDef ident="value" mode="delete"/>
                  <attDef ident="version" mode="delete"/>
                  <attDef ident="scheme" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module verse-->
            <!--Checking module transcr-->
            <moduleRef key="transcr" include="fw"/>
            <elementSpec ident="fw" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <!--Checking module linking-->
            <!--Checking module analysis-->
            <classRef key="att.linguistic"/>
            <classSpec ident="att.linguistic" type="atts" mode="change">
               <attList>
                  <attDef ident="lemma" mode="delete"/>
                  <attDef ident="lemmaRef" mode="delete"/>
                  <attDef ident="pos" mode="delete"/>
                  <attDef ident="msd" mode="delete"/>
                  <attDef ident="join" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module textstructure-->
            <moduleRef key="textstructure" include="TEI text body div"/>
            <elementSpec ident="TEI" mode="change">
               <attList>
                  <attDef ident="version" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="text" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="div" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <!--Checking module corpus-->
            <moduleRef key="corpus"
                       include="textDesc channel constitution derivation domain factuality interaction preparedness purpose"/>
            <elementSpec ident="channel" mode="change">
               <attList>
                  <attDef ident="mode" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="constitution" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="derivation" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="domain" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="factuality" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="interaction" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="active" mode="delete"/>
                  <attDef ident="passive" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="preparedness" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="purpose" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="degree" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
         </schemaSpec>
      </body>
   </text>
</TEI>
